<form action="/registro" method="POST">
    <label for="firstname">Nombre</label>
    <input type="text"  name="firstname" required >
    <label for="lastname">Apellido</label>
    <input type="text"  name="lastname" required >
    <label for="email">Email</label>
    <input type="email" name="email" required  >
    <label for="password">Contraseña</label>
    <input type="password"  name="password" required >
    <button type="submit">Enviar</button>
</form>